.heading{
  background-color: rgb(22, 22, 67);
}
.contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputdiv{
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.input{
  width: 50%;
  border: 1px solid gray;
}
.save{
  width: 80px;
  height: 45px;
}
.ul>li{
  border: 1px solid gray;
}
.group{
  justify-self: end !important;
  align-self: flex-end !important;
  align-items: end !important;
}
.edit{
 
  background-color: cornflowerblue;
  
}
.edit:hover{
  background-color:rgb(58, 122, 240) !important;
}
.ch{
  scale: 1.2;
}

@media (max-width:580px) {
  .ul>li{
    width: 95% !important;
    font-size: 16px !important;
  }
  .group{
    scale: 0.9;
  }
  .input{
    width: 85%;

  }
  .save{
    scale: 0.8;
  }
  
}